<p id="notice"><%= notice %></p>

<p>
  <strong>Remoteip:</strong>
  <%= @page_visitor.RemoteIP %>
</p>

<p>
  <strong>Page:</strong>
  <%= @page_visitor.Page %>
</p>

<%= link_to 'Edit', edit_page_visitor_path(@page_visitor) %> |
<%= link_to 'Back', page_visitors_path %>
